
body{
    background-color: rgba(0, 0, 0, 0.91);
}


.checked {
    text-decoration: line-through;
}

.red{
    color: red;
}

.orange{
    color: orange;
}

.yellow{
    color: yellow;
}

.blue{
    color: blue;
}

.green{
    color: green;
}

button{
    all: unset;
}

.delButton{
    all: unset;
}

.delButton:hover{
    color: red;
}

